<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Peepl Mobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.peepl.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>peepl_mobile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Peepl needs camera access to take a photo of your current location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Peepl needs microphone access when you record video for a post.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Peepl needs access to your photo library to attach a photo to your location report.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Peepl needs permission to save photos to your library.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Peepl uses your location in the background to detect when you arrive at a venue and ask about crowd levels.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Peepl uses your location to detect when you arrive at a venue so you can report crowd levels.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Peepl uses your location in the background to detect when you arrive at a venue and ask about crowd levels.</string>
	<key>NSMotionUsageDescription</key>
	<string>Peepl uses motion data to detect when you arrive at a venue so you can report crowd levels.</string>
	<key>GMSApiKey</key>
	<string>AIzaSyBkJayDy4YBldg0Y5Ux7sR5Qww8am59vV8</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>geo</string>
		<string>maps</string>
		<string>comgooglemaps</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Peepl sends you alerts when nearby venues get crowded and when people like your posts.</string>
	<key>NSContactsUsageDescription</key>
	<string>Peepl uses your contacts to help you find and invite friends.</string>
</dict>
</plist>
